
<app-frame>

  <section class="max-w-md h-auto md:h-[370px] xl:h-[450px]">
    <form  [formGroup]="infoPersonal" (ngSubmit)="saveInformation()"  class="h-full w-full flex flex-col">
      <app-form-title class="text-marine-blue text-xl font-semibold mb-2" >Personal info</app-form-title>
      <app-form-description class="text-sm text-cool-gray font-medium mb-2">Please provide your name, emai address, and phone number.</app-form-description>

      <div>
        <div class="mb-3 relative">
          <label class="text-sm text-marine-blue mb-1" for="name">Name</label>
          <input
            class="border rounded-md py-2 px-3 w-full focus:outline-none focus:border-sky-600 hover:cursor-pointer"
            type="text"
            id="name"
            name="name"
            formControlName="name"
            [ngClass]="fieldNameInvalid ? 'border-red-400' : '' "
            required
          >
          <ng-container *ngIf="fieldNameInvalid">
            <div class="absolute top-1 right-0">
              <p class="text-xs font-semibold text-strawberry-res" *ngIf="fieldName?.hasError('required')" >This field is required</p>
            </div>
          </ng-container>
        </div>

        <div class="mb-3 relative">
          <label class="text-sm text-marine-blue mb-1" for="email">Email Address</label>
          <input
            class="border rounded-md py-2 px-3 w-full focus:outline-none focus:border-sky-600 hover:cursor-pointer"
            type="email"
            id="email"
            name="email"
            formControlName="email"
            [ngClass]="fieldEmailInvalid ? 'border-red-400' : '' "
            required
            >
          <ng-container *ngIf="fieldEmailInvalid">
            <div class="absolute top-1 right-0">
              <p class="text-xs font-semibold text-strawberry-res" *ngIf="fieldEmail?.hasError('required')">This field is required</p>
              <p class="text-xs font-semibold text-strawberry-res" *ngIf="fieldEmail?.hasError('email')">This email is invalid</p>
            </div>
          </ng-container>
        </div>

        <div class="mb-3 relative">
          <label class="text-sm text-marine-blue mb-1" for="phone">Phone Number</label>
          <input
            class="border rounded-md py-2 px-3 w-full focus:outline-none focus:border-sky-600 hover:cursor-pointer"
            type="tel"
            id="phone"
            name="phone"
            formControlName="phone"
            [ngClass]="fieldPhoneInvalid ? 'border-red-400' : '' "
            required
          >
          <ng-container *ngIf="fieldPhoneInvalid">
            <div class="absolute top-1 right-0">
              <p class="text-xs font-semibold text-strawberry-res" *ngIf="fieldPhone?.hasError('required')">This field is required</p>
              <p class="text-xs font-semibold text-strawberry-res" *ngIf="fieldPhone?.hasError('minlength')">Minimum 7 numbers</p>
              <p class="text-xs font-semibold text-strawberry-res" *ngIf="fieldPhone?.hasError('maxlength')">Maximum 10 numbers</p>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="flex-grow"></div>

      <div class="self-end">
        <app-button-action>
          Next Step
        </app-button-action>
      </div>

    </form>
  </section>

</app-frame>
