
<section class="container h-screen w-screen grid grid-rows-[auto_1fr_auto]">
  <header class="header__content w-screen">
    <div class="h-[30vh] w-full bg-cover bg-center bg-no-repeat flex justify-center md:hidden" style="background-image: url('./../../../../assets/images/bg-sidebar-mobile.svg');">
      <app-steps [viewMobileHidden]="true" ></app-steps>
    </div>
  </header>
  <main class="main__content bg-magnolia w-full">
  </main>
  <footer class="footer__content bg-alabaster h-20 md:hidden">
  </footer>
</section>

<section class="fixed inset-x-[6%] top-[17vh] bg-white h-auto p-5 rounded-xl shadow-md md:max-w-4xl md:h-[450px] md:inset-y-0 md:pr-0 md:m-auto xl:h-[550px] xl:max-w-5xl">
  <section class="h-full flex flex-col md:flex-row md:items-center">
    <div class="hidden h-full rounded-lg w-80 relative bg-cover bg-center bg-no-repeat md:block" style="background-image: url('./../../../../assets/images/bg-sidebar-desktop.svg') ;">
      <div class="absolute top-0">
        <app-steps></app-steps>
      </div>
    </div>
    <div class="w-full flex items-center justify-center">
      <section class="w-full h-auto md:max-w-sm md:h-[370px] xl:h-[450px] xl:max-w-lg">
        <ng-content>
          <!-- h-full w-full deben ser colocados en el contenedor principal del componente que sera insertado en el ng-content -->
        </ng-content>
      </section>
    </div>
  </section>
</section>
