
<app-frame>
  <section class="w-full h-full">
    <app-form-title>Select your plan</app-form-title>
    <app-form-description>You have the option of monthly or yearly billing</app-form-description>

    <ul class="space-y-3 md:space-y-0 md:flex md:flex-row md:justify-between md:items-center md:gap-x-5 xl:gap-x-7">
      <li *ngFor="let plan of plans" class="w-auto md:w-1/3 hover:cursor-pointer">
        <app-card-plan
          [plan]="plan"
          [choosePlan]="chooseMonthYearly"
          (onSelect)="onPlantSelected($event)"
          [planId]="selectedId"
        >
        </app-card-plan>
      </li>
    </ul>

  </section>
</app-frame>
